body {
  background-color: #000000;
  color: #cccccc;
  font-family: sans-serif;
}

b {
  color: #bbbbff;
}

a {
  text-decoration: none;
  color: #7777cc;
}

a img {
  border: none;
}

a:hover {
  color: #eeeeee;
}

div {
  overflow: auto;
}

.global_nav {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  overflow: visible;
}

.title {
  margin-top: 20px;
  background-color: #001133;
  text-align: center;
}

.info {
  border: 1px solid #555555;
}

.thumb {
  float: left;
  padding: 5px;
  width: 210px;
}

.screenshot {
  float: right;
  padding: 10px;
}

.desc {
  vertical-align: top;
  padding: 10px;
}

.subsection {
}


.subsection-heading {
  font-weight: bold;
  color: #bbbbff;
  font-size: 20px;
}


.subsection-box {
  background-color: #222233;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 40px;
}


.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12;
}

.gallery {
  float: right;
  padding: 5px;
  margin-left: 20px;
  width: 420px;
  border: 1px solid #446;
  text-align: center;
}

.gallery-item{
  padding-bottom: 16px;
  padding-top: 16px;
}
